html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* Remove or comment out overflow: hidden; */
  /* overflow: hidden; */
}


#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.mapboxgl-popup.feedback-popup {
  z-index: 10;
}

.mapboxgl-popup-content {
  max-width: 260px;
  max-height: 180px;
  overflow-y: auto;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
}

.mapboxgl-popup {
  z-index: 100;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #fff;
}

