html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* Remove or comment out overflow: hidden; */
  /* overflow: hidden; */
}


#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

